@page 
@model Maelstrom.Areas.User.Pages.SiteUserManager.CreateModel
@{
    ViewData["Title"] = "Add New Site User";
    Layout = "_Layout";
}


<h1>Add New</h1>

<h4>Site User</h4>
<hr />
<div class="row">                     
    <div class="col-md-4">
        @if(Model.Restore != true)
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="SiteId" />

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <p class="text-danger">@Model.Message</p>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </form>
        
        }
        @if(Model.Restore == true)
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="SiteId" />
                <input type="hidden" asp-for="Restore" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <p class="text-danger">@Model.Message</p>
                    <p>Please verify email.</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Restore" class="btn btn-warning" />
                </div>
            </form>
        }

     
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.SiteId.ToString()" class=" btn btn-primary mt-1">Back to All Users</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}