@page
@model Maelstrom.Areas.User.Pages.SiteUserManager.DeleteModel
@{
    ViewData["Title"] = "Remove User";
    Layout = "_Layout";
}

<div class="container" style=" background-color:floralwhite">
    <div class="row ">
        <div class="col mt-5">
            <div class="shadow-lg mt-5 mb-3 text-center fw-bolder">
                <h1>Remove User</h1>
                <hr>
                <hr>
                <div class="mt-4 mb-4">
                    <a asp-page="./Index" asp-route-id="@Model.SiteId" class=" btn btn-lg btn-primary w-50 mb-4" style="height:3rem">Back to User Manager</a>
                </div>
            </div>

            <div class="col-12 shadow mt-3 text-center fw-bolder">
                <h3 class="mt-3 text-danger">Are you sure you want to remove @*@Model.SiteUserToBeDeleted.AppUser.FirstName *@?</h3>

                <h2>@*@Model.SiteUserToBeDeleted.AppUser.UserName*@</h2>

                <hr />
                <div class="row shadow">
                    <div class="col-md-6">
                        <div class="row">
                            <p> 

                               @* The User with email: @Model.SiteUserToBeDeleted.AppUser.Email will be removed
                                from @Model.SiteUserToBeDeleted.Site.Name, but the test results associated with them will remain.*@
                            </p>
                                

                                <form method="post">
                                        <input type="hidden" asp-for="SiteId" />
                                        <input type="hidden" asp-for="SiteUserToBeDeletedId" />
                                    <input type="submit" value="Delete" class="btn btn-danger w-50 mt-5 mb-4" style="height:3rem" />
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
