@page
@model Maelstrom.Areas.User.Pages.SiteUserManager.DeleteModel
@{
    ViewData["Title"] = "Remove User";
    Layout = "_Layout";
}

<div class="row">
    <div class=" col-xxl-3 col-xl-2 col-lg-1"></div>
    <div class="col col-xxl-6 col-xl-8 col-lg-10" style=" background-color:floralwhite">
        <div class=" row mb-3 text-center fw-bolder">
            <hr>
            <h1>Remove</h1>
            <hr>
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-md-6 col-lg-4">
                <a asp-page="./Index" asp-route-id="@Model.SiteId" class=" btn btn-lg btn-primary mb-4">
                    Back to User Manager
                </a>
            </div>
            <div class="col-md-3 col-lg-4"></div>
            <hr>
            <hr>
        </div>
        <div class="shadow ms-5 me-5 fw-bolder">
            <h3 class="mt-1 pt-2 text-danger text-center">
                Are you sure you want to remove
                <br>
                <p class="fw-bold">
                    @Model.AppUserToBeRemoved.FirstName @Model.AppUserToBeRemoved.LastName ?
                </p>
            </h3>
            <hr />
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center mt-2">
                </div>
                <div class="container shadow mb-4 pt-4">
                    <div class="row">
                        <div class="col-xl-4"></div>
                        <div class="col">
                            <form method="post" class="text-center">
                                <input type="hidden" asp-for="SiteId" />
                                <input type="hidden" asp-for="SiteUserToBeDeletedId" />
                                <input type="submit" value="Remove" class="btn btn-lg btn-danger w-50 mt-2 mb-4"/>
                            </form>
                        </div>
                        <div class="col-xl-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-xxl-3 col-xl-2 col-lg-1"></div>
</div>


