################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maelstrom/appsettings.json
/Maelstrom/.vs/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Maelstrom/DesignTimeBuild/.dtbcache.v2
.vs/Maelstrom/FileContentIndex/0a5798b6-6708-4f74-ae65-ebf290aa1aa1.vsidx
.vs/Maelstrom/FileContentIndex/4c55d3c6-ff04-4bc9-88b0-dec6f8731466.vsidx
.vs/Maelstrom/FileContentIndex/5e58e276-f5a1-4db3-83a4-49f6356331c4.vsidx
.vs/Maelstrom/FileContentIndex/417f5762-734f-4727-a1fe-ddcb3e20a20e.vsidx
.vs/Maelstrom/FileContentIndex/476c06b6-2237-49cc-a5c1-f25d93587528.vsidx
.vs/Maelstrom/FileContentIndex/00767a62-18ac-4552-9129-b523d06715bc.vsidx
.vs/Maelstrom/FileContentIndex/b7fd800a-b252-43ae-adfa-e9eb6a41a241.vsidx
.vs/Maelstrom/FileContentIndex/b047fc8c-a266-4b1b-9332-50dbaff02dc0.vsidx
.vs/Maelstrom/v17/.futdcache.v2
.vs/Maelstrom/v17/.suo
.vs/Maelstrom/v17/.wsuo
.vs/ProjectEvaluation/maelstrom.metadata.v5.2
.vs/ProjectEvaluation/maelstrom.projects.v5.2
EF_Models/obj/Debug/net6.0/EF.assets.cache
EF_Models/obj/Debug/net6.0/EF.GeneratedMSBuildEditorConfig.editorconfig
Maelstrom/obj/Debug/net6.0/Maelstrom.assets.cache
Maelstrom/obj/Debug/net6.0/Maelstrom.csproj.AssemblyReference.cache
Maelstrom/obj/Debug/net6.0/Maelstrom.GeneratedMSBuildEditorConfig.editorconfig
Maelstrom/obj/Debug/net6.0/project.razor.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Maelstrom/DesignTimeBuild/.dtbcache.v2
.vs/Maelstrom/FileContentIndex/0a5798b6-6708-4f74-ae65-ebf290aa1aa1.vsidx
.vs/Maelstrom/FileContentIndex/5e58e276-f5a1-4db3-83a4-49f6356331c4.vsidx
.vs/Maelstrom/FileContentIndex/00767a62-18ac-4552-9129-b523d06715bc.vsidx
.vs/Maelstrom/FileContentIndex/b047fc8c-a266-4b1b-9332-50dbaff02dc0.vsidx
.vs/Maelstrom/v17/.futdcache.v2
.vs/Maelstrom/v17/.suo
.vs/Maelstrom/v17/.wsuo
.vs/ProjectEvaluation/maelstrom.metadata.v5.2
.vs/ProjectEvaluation/maelstrom.projects.v5.2
EF_Models/obj/project.nuget.cache
EF_Models/obj/Debug/net6.0/EF.assets.cache
EF_Models/obj/Debug/net6.0/EF.GeneratedMSBuildEditorConfig.editorconfig
Maelstrom/obj/Maelstrom.csproj.nuget.dgspec.json
Maelstrom/obj/project.nuget.cache
Maelstrom/obj/Debug/net6.0/Maelstrom.assets.cache
Maelstrom/obj/Debug/net6.0/Maelstrom.csproj.AssemblyReference.cache
Maelstrom/obj/Debug/net6.0/Maelstrom.GeneratedMSBuildEditorConfig.editorconfig
Maelstrom/obj/Debug/net6.0/project.razor.json
