body {
    background-color: aliceblue;
}

#site-name {
    font-size: 4rem;
    text-align: center;
   
}

#img-aquarium-div {
    margin: auto;
    text-align: center;
}

#img-aquarium {
    max-width: 50%;
    max-height: auto;
    border-radius: 25px;
}

#button-edit-div {
    margin: auto;
    text-align: center;
}

.stats-div {
    margin: auto;
    /*text-align: center;*/
    font-size: 1.5rem;
    max-width: 50%;
    padding: 15px;
}

#stats-list {
}

#img-testlog-div {
    margin: auto;
    text-align: center;
}

#img-testlog {
    max-width: 50%;
    max-height: auto;
}

.btn-grp-div {
    text-align: center;
    padding-top: 5px;
}

#more-buttons-div {
    margin: auto;
    text-align: center;
    padding: 20px;
}

#recent-results-heading {
    padding-top: 50px;
    font-size: 2em;
    text-align: center;
    margin: auto;
}

.table-div {
    padding-top: 20px;
    max-width: 75%;
    max-height: auto;
    margin: auto;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 57px;
    right: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: .05px .05px 1px 1px tan;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #818181;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 36px;
        margin-right: 50px;
    }

.thespan {
    left: 10px;
}