@page
@model Maelstrom.UserHomeModel

@{
    Layout = "_Layout";
}

<h3>Hello from the razor page!</h3>
<p>
   What's up @Model.ThisAppUser !
</p>

@if (Model.ThisUsersSites != null)
{
    @foreach (var s in Model.ThisUsersSites)
    {
        <p> @s.Name, </p>

    }
}


