<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maelstrom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap_sandstone.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Maelstrom.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar navbar-expand-lg position-fixed navbar-toggleable-sm bg-Primary border-bottom box-shadow w-100 mb-3" style="background-color:white;z-index:3;">
            <div class="container-fluid">
              @*  <a class="navbar-brand" style="color:DodgerBlue;" asp-area="" asp-controller="Home" asp-action="Index">Maelstrom</a>*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="max-width:125px">
                    <img src="/media/MaelLogo.png" style="max-width:125px"/>
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                                          
                        @*It might make since to make another _layout for admin*@
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/SiteManager/Index" asp-area="Admin">Admin Site Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/ResultManager/Index" asp-area="Admin">Admin Result Manager</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") == false && User.Identity.IsAuthenticated)
                        {      
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Dash" asp-area="User">DashBoard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/SiteManager/Index" asp-area="User">Site Manager</a>
                            </li>
                        }                          
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        
    </header>
   
      <div class="container-fluid">
            <main role="main">
            @RenderBody()
        </main>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "150px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
