@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maelstrom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link href="~/lib/bootstrap/dist/css/bootstrap_sandstone.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/ddc50d03f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="row g-0">
        <header
            class="navbar navbar-expand-lg position-fixed  navbar-toggleable-lg bg-Primary border-bottom box-shadow w-100 mb-3"
            style="background-color:white;z-index:3;">
            <div class="container-fluid">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") != true)
                {
                    <a class="navbar-brand" asp-page="/Dash" asp-area="User" style="max-width:125px">
                        <img src="/media/MaelLogo.png" class="ms-3" style="max-width:125px" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="max-width:125px">
                        <img src="/media/MaelLogo.png" class="ms-3" style="max-width:125px" />
                    </a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars fa-beat fa-lg" style="color: #8fd8ff;"></i>
                </button>
                <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*It might make since to make another _layout for admin*@
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/SiteManager/Index" asp-area="Admin">
                                    Admin Site
                                    Manager
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/ResultManager/Index" asp-area="Admin">
                                    Admin Result
                                    Manager
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/SiteUserManager/Index" asp-area="Admin">
                                    SiteUser
                                    Manager
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") == false && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item m-1">
                                <div class="d-lg-none">
                                    <a class="nav-link text-dark" asp-page="/Dash" asp-area="User">DashBoard</a>
                                </div>
                            </li>
                            <li class="nav-item m-1">
                                <div class="d-lg-none">
                                    <a class="nav-link text-dark" asp-page="/SiteManager/Index" asp-area="User">
                                        Site
                                        Manager
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item m-1">
                                <div class="d-lg-none">
                                    <a class="nav-link text-dark" asp-page="/SiteManager/Create" asp-area="User">Create
                                        Site</a>
                                </div>
                            </li>
                            <li class="nav-item position-absolute top-0 end-0">
                                <div class="d-none d-lg-block ">
                                    <i class="btn btn-hover fa-solid fa-bars fa-beat fa-2xl mt-4 me-4" onclick="openNav()"
                                        style="color: #8fd8ff;"></i>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (SignInManager.IsSignedIn(User) != true || User.IsInRole("Admin"))
                    {
                        <div class="d-none d-lg-block">
                            <partial name="_LoginPartial" />
                        </div>
                    }
                    <div class="d-lg-none">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="row">
        <main role="main">
            <div class="container-fluid" style="margin-top: 75px;">
                @RenderBody()
            </div>
        </main>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-page="/Dash" asp-area="User">Dash</a>
        <a asp-page="/SiteManager/Index" asp-area="User">Site Manager</a>
        <a asp-page="/SiteManager/Create" asp-area="User">Create Site</a>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Manage
            Account
        </a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home">
            <button class=" btn btn-danger w-100 ms-1 me-1" type="submit">Logout</button>
        </form>
    </div>
    <!-- will put in folder in a bit -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "150px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>