@page "{id:int}"
@model Maelstrom.Areas.User.Pages.SiteManager.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<div class="row">
    <div class=" col-xxl-3 col-lg-1"></div>
    <div class="col col-xxl-6 col-lg-10" style=" background-color:floralwhite">
        <div class="row mb-3 text-center fw-bolder">
            <hr>
            <h1>Edit</h1>
            <hr>
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-md-6 col-lg-4">
                <a asp-page="./Index" class=" btn btn-lg btn-primary mb-4 shadow">
                    Back to Site Manager
                </a>
            </div>
            <div class="col-md-3 col-lg-4"></div>
            <hr>
            <hr>
        </div>
        <div class="row p-4">
            <div class="col shadow text-center fw-bolder">
                <hr />
                <h2>@Model.Site.Name</h2>
                <hr />
            </div>
        </div>

        <div class=" row ps-2 pe-2">
            <div class="col-md-6 ">
                @{
                    if (Model.SiteImage != null)
                    {
                        <img src=@Model.SiteImage class="w-100 shadow mt-3 mb-3 border p-2" />
                    }
                    else
                    {
                        <img src="~/media/UserImages/default.jpg" class="w-100 shadow mt-3 mb-3" />
                    }
                }
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <form class="border shadow p-3 mb-4" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Site.SiteID" />
                            <input type="hidden" asp-for="Site.ImageData" />
                            <div class="form-group">
                                <label asp-for="Site.Name" class="control-label mt-4 h5"></label>
                                <input asp-for="Site.Name" class="form-control mb-3 " />
                                <span asp-validation-for="Site.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Site.Capacity" class="control-label h5"></label>
                                <input asp-for="Site.Capacity" class="form-control mb-3" />
                                <span asp-validation-for="Site.Capacity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Site.Location" class="control-label h5"></label>
                                <input asp-for="Site.Location" class="form-control mb-3" />
                                <span asp-validation-for="Site.Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Site.SiteTypeID" class="control-label h5"></label>
                                <select asp-for="Site.SiteTypeID" class="form-control mb-3"
                                    asp-items="ViewBag.SiteTypeID"></select>
                                <span asp-validation-for="Site.SiteTypeID" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-4 ">
                                <label asp-for="Upload" class="control-label h5"></label><br />
                                <input asp-for="Upload" accept=".jpg" type="file"
                                    class="form-control form-control-lg shadow" />
                                <span asp-validation-for="Upload" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Save" class="btn btn-warning w-50 mt-5 mb-4 shadow"
                                    style="height:3rem" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-xxl-3 col-lg-1"></div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}